name: "Pull Request Labeler"
on:
  - workflow_call

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/labeler@v5
        if: ${{ hashFiles('.github/labeler.yml') != '' }}
